@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
body {
	padding: 0;
	margin: 0;
	color: #162d5a;
	/*font-family: 'Roboto', sans-serif;*/
}

* {
	box-sizing: border-box;
}
/*.wrapper {
	display: flex;
	justify-content: space-evenly;
	padding-top: 100px;
}
.block {
	display: flex;
	position: relative;
	width: 350px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0px 1px 4px 1px #8080802e;
	overflow: hidden;
	padding: 30px;
}
.block-background {
	background: url('images/photo.jpg') no-repeat;
	background-size: cover;
}
.info {
	background: #fff;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	font-family:  serif;
	text-align: center;
}
.info h1, p {
	margin: 0;
}
.block img {
	position: absolute;
	right: 0;
	width: 130px;
	height: 100px;
}
img {
	width: 100%;
	height: 100%;
}
.divide {
	width: 60%;
	height: 1px;
	background: black;
	margin: 10px auto;
}
.list {
	 margin:0 auto;
	 padding-left: 25px;
	 list-style: none;
	 position: relative;
	 max-width: 60%;
	 text-align: left;
}
.phone:before {
	display: inline-block;
	content: '';
	background: url('images/phone.png') no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
}
.insta:before {
	display: inline-block;
	content: '';
	background: url('images/insta.jpg') no-repeat;
	background-size: cover;
	width: 25px;
	height: 20px;
	position: absolute;
	left: -2px;
}*/

.container-feed {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1200px;
}
.menu {
  padding: 20px;
  margin: 0;
}

.menu li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;	
}
.menu li a {
	color: black;
	font-weight: bold;
}

.button {
   padding: 10px 20px;
   box-shadow: 0px 1px 4px 2px #210b0b3d;
   border-radius: 5px;
   border: none;
   color: black;
   background-color: #fff;
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.button {
	align-self: center;
	transition: all 0.2s;
}
.text {
	text-align: center;
}

.offers-group__header {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}
.offers-group__list {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

.offer-card {
	 padding: 20px 20px;
	 box-shadow: 0 2px 4px rgba(36,79,152,.15);
	 border-radius: 5px;
	 cursor: pointer;
	 margin-bottom: 20px;
	}

.offer-card__logo {
	width: inherit;
	height: 36px;
}
.offer-card__title, .offer-card__value {
	font-size: 16px;
	margin: 0;
}
.offer-card__subtitle, .offer-card__label {
	font-size: 13px;
	color: gray;
	margin: 0;
}
.offer-card__header-wrapper {
	 flex: 1;
	 padding-left: 20px;
}
.offer-card__options {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex: 2;
}

.offer-card__img--floated
.offer-card__img--wrapper {
	 position: absolute; 
	 left: -13px;
     top: 4px;
}
.offer-card__link {
	flex: 0 0 200px;
	text-align: center;
}
.offer-card__option {
	padding: 0 20px;
	position: relative;
}
.offer-card__toggle {
	border: none;
	background: none;
	transform: rotate(90deg);
}
.offer-card__header {
	    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
}
.offer-card__open {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 0;
}
.offer-card__open .offer-card__title{
	color: gray;
	font-size: 13px;
}
.offer-card__text {
	font-size: 13px;
}
.offer-card__text--accent {
	font-weight: bold;
}
.offer-card__open .offer-card__options {
	justify-content: flex-start;
	margin-bottom: 15px;
	margin-top: 20px;
}
.offer-card__open .offer-card__options:last-child {
	margin: 0;
}
.offer-card__open .offer-card__list {
	list-style: none;
	font-size: 13px;
}
.offer-card__list-social {
	padding-left: 20px;
	margin: 0;
}
.offer-card__list-social li {
	margin-right: 10px;
	display: inline-block;
}
.offer-card__open .offer-card__value {
	font-size: 13px;
}
.offer-card__notice {
	margin: 0;
	text-align: center;
	font-size: 13px;
}